[2019-09-01 03:54] nickrout opened #1 "time/date in UTC."
The time/date tile seems to show the wrong time, for me (UTC -1200 - Pacific/Auckland) it is showing 3.47 am not 3:47 pm.

[2019-09-01 04:01] nickrout opened #2 "Possible enhancements - new tiles"
Ideas for new tiles

media player
graph
alarm panel
map/geolocation

[2019-09-01 04:03] nickrout opened #3 "Set default layout and tile size"
By default these are all set at zero. I wondered for some time why I wasn't seeing a page, or anything in the layout preview. Perhaps set to sensible defaults- say 640x480 with 120 sized tiles.

[2019-09-01 06:52] MichaelZanetti opened #4 "Person component enhancement"
Although you can use the `state tile` it would probably make sense to allow the `person tile` to use the `person` entity from Home Assistant instead of only `device_tracker`.

[2019-09-01 17:21] qJake commented on #4
@MichaelZanetti Makes sense - I don't have any `person` entities in my setup yet (they are still device trackers - I need to update! 😁)

Can you confirm if the `person` entity for a phone still has attributes for `friendly_name` and `entity_picture`, and that its `state` text is the location (i.e. "home", "work", "not-home")? If so, it's a very easy change to also include `person` device types!

[2019-09-01 17:22] qJake opened #5 "Add support for Media Player entities"
Original request: #2

Add support for `media_player` entity types.

[2019-09-01 17:23] qJake opened #6 "Add support for history graphs of states or other entities"
Original request: #2

Add support for state tiles or other tile types to show a history graph, probably via a popover/modal, on click (optionally).

And find a nice JS charting library that looks slick to use with this!

[2019-09-01 17:25] qJake opened #7 "Add support for Alarm Panels"
Original request: #2

Add support for alarm panels.

@nickrout I don't know if this is possible via the API - I'm looking at [the REST API documentation](https://developers.home-assistant.io/docs/en/external_api_rest.html) and I don't see a way to interact with alarm panel-type devices - can you walk me through how an alarm panel is built and what entity types it uses and what it's supposed to do?

[2019-09-01 17:27] qJake opened #8 "Add support for Maps"
Original request: #2

Add support for embedding maps and displaying locations of `device_tracker` and `person` locations on the map, similar to Lovelace.

Would need to research which maps are suitable for this and if it could be configurable or not. Choices would include:

* OpenStreetMap
* Google Maps
* Azure Maps
* *or others...?*

[2019-09-01 17:28] qJake commented on #2
@nickrout Thanks for submitting these! I've just broken them out into separate requests for traceability:

Media player: #5
History graphs: #6
Alarm panels: #7
Maps: #8

Closing this one, feel free to watch the other issues for updates!

[2019-09-01 17:28] #2 closed

[2019-09-01 17:57] qJake commented on #1
@nickrout I suspect that this may be due to the container having a different default system timezone than where you actually reside. Either way, the date tile should support international formatting regardless (how very *American* of me to hard-code the date/time strings 😉) so I've enhanced the Date tile to support whatever format strings and time zones you'd like to set! You can even have multipl

[2019-09-01 18:00] qJake commented on #3
I've set some sensible defaults for these settings so that a layout preview now appears by default. I did some math so that you get an 8x9 grid with 100px tiles and 6px spacing by default which should fit most displays and look good out of the box - and users should be customizing these numbers hopefully anyway. 😏

[2019-09-01 18:03] MichaelZanetti commented on #4
Hi @qJake , yes the `person` entity still has state text like "home", "not_home".
Here's the attributes mine has!

[code]

[2019-09-01 18:09] qJake commented on #4
Perfect, thanks! I've fixed this. It will be released in the next version (0.4.0) soon!

[2019-09-01 19:09] qJake commented on #4
[Released!](https://github.com/qJake/HADotNet.CommandCenter/releases/tag/v0.4.0)

[2019-09-01 19:09] #4 closed

[2019-09-01 19:09] qJake commented on #1
[Released!](https://github.com/qJake/HADotNet.CommandCenter/releases/tag/v0.4.0)

[2019-09-01 19:09] #1 closed

[2019-09-01 19:09] qJake commented on #3
[Released!](https://github.com/qJake/HADotNet.CommandCenter/releases/tag/v0.4.0)

[2019-09-01 19:09] #3 closed

[2019-09-02 05:07] qJake opened #9 "Add support for multiple dashboard pages"
HACC should support multiple dashboard pages.

This will involve a fair amount of work:

* The single tile list will need to be replaced with a two-deep list (essentially, Root [ Pages [ Tiles ] ])
* The layout editor will need to support being able to lay out each page separately, either via tabs or some context switcher that's easy to understand
* Tiles will need to be added for navigation (go t

[2019-09-02 05:16] qJake opened #10 "Add Hass.io Addon Support"
Add support for this addon to be installed via the Hass.io Addon Interface.

Things to consider:

1. Hass.io runs on different architecture - ARMv8 and AMD64 - how is this handled by the Dockerfile that's built or the image(s) that are pulled?
2. For those running Hass.io on an RPi (ARMv8), this runs on Alpine Linux, for which a base Docker image is not available at this time. A Docker image for A

[2019-09-02 05:19] atomicpapa commented on #7
basically, I would just like a card that displays the number pad and something like "arm" and "disarm".  Also a display of some sort for the current state would probably be nice typically the entity is `alarm.<something>`

[2019-09-02 08:30] nickrout opened #11 "Timezone not including GMT-1200"
I get every number from -1100 to +1200, but not -1200. Running 0.4.1.

Also shouldn't the timezones really be proper text like Pacific/Auckland, rather than just numbers?

[2019-09-02 09:55] LordBoos opened #12 "Add screensaver"
HACC should support a screensaver to prevent screen burn-in on always on tablets.

Screensaver should be something like Android screensaver - black screen with time and date appearing at random screen locations every few minutes.
Screensaver should appear after configurable amount of time with some default (5-10 minutes?).
Screensaver should instantly disappear once a screen touch is detected.

[2019-09-02 09:57] LordBoos opened #13 "Add support for iframe page"
I'd really like to have a possibility to add iframe page to the HACC to be able to display Grocy.

Right now I'm using TileBoard and it's iframe tile to display Grocy on a separate page. I'm using it on my fridge to keep track of items and shopping lists.

[2019-09-02 14:07] sr-as2 opened #14 "Impossible to save Theme settings"
Hello,
i can't save theme setting. There is no error message. I can edit colors, types etc... I can save my modifications, but when i'm back to this menu, nothing has been saved.
Version 0.4.1
Regards

[2019-09-02 14:31] sr-as2 opened #15 "person tiles don’t populate"
Hi again!
person tiles don’t populate if we don't have entity_picture set.
Can you fix it ?
thanks !!

[2019-09-02 14:36] qJake opened #16 "Add support for Climate / Thermostats"
Add `climate` entity support including basic thermostat display and controls.

[2019-09-02 14:39] qJake commented on #11
I'm pulling a list of standard time zones from the system - on Windows, it displays this:

![image](https://user-images.githubusercontent.com/652006/64121795-6e740900-cd65-11e9-92f6-20ba5411fa31.png)

Can you share a screenshot of what it looks like on your system? I may need to just hard-code this list if Linux-based systems don't have a nice list like this. 🙂

[2019-09-02 14:42] qJake commented on #12
This is a good suggestion and something I could fairly easily include, however I have a question: Shouldn't the kiosk software you're using to display the site handle this?

For example, I run [Fully](https://www.ozerov.de/fully-kiosk-browser/) which has support for automatically shutting off the screen, and re-enabling it if camera motion is detected or if you tap the screen or press the power bu

[2019-09-02 15:01] LordBoos commented on #12
Screen burn-in only affects OLED displays and such displays doesn't have any backlight (pixels themselves produce the light). Pixels displaying black color are completely turned off, so there is no wear.
Android has a screensaver like this, but problem is that it hibernates background processes completely and it causes disconnections (connections time out when the applications is hibernated) and o

[2019-09-02 16:54] Mdleal opened #17 "Add support Fan"
Add support for fan control. High/Med/Low/Off

[2019-09-02 17:27] Mdleal opened #18 "Layout issue"
I am having the same issue as described in this [post.]( https://community.home-assistant.io/t/hacc-home-assistant-command-center/134843/80)

[2019-09-02 18:46] nic0dk commented on #10
what about AMD64 hass.io, any timeline on when you will release one? :) btw.
awesome work!

[2019-09-02 21:00] MarekLe opened #19 "Add support for scene tile."
It is impossible to run a scene now.

[2019-09-02 21:04] apedance opened #20 "uh oh Something broke :("
On every tile I want to add I get this error message.
How can I provide more insight?

[2019-09-02 21:16] MarekLe opened #21 "Tile icon not refreshing"
I have a light tile. The light is an entity of sonoff with ESPHome connected to HA.
Touching tile working fine - icon changing from on to off etc. and light turns On/Off.
But - when I switch the light witch a button on  sonoff - icon on HACC tile not changing from On to Off.

[2019-09-03 00:20] qJake commented on #10
@nic0dk Yep, this would include support for both AMD64 and ARMv8.

[2019-09-03 00:54] qJake commented on #17
Great suggestion! I've got some GE fan switches in my house so I'll be able to test this one out, as well!

[2019-09-03 00:57] qJake commented on #20
Can you check the logs/output of the app (via the console / Docker container output) to see if there are any errors there?

It sounds like you don't have your HA base URL or access token set up quite right, or HACC is not able to reach your HA instance via HTTP/S, so check your container network settings as well.

[2019-09-03 01:46] atomicpapa opened #22 "Import Themes"
Is the Import function something that is planned for the future and just a placeholder?  When I click on it, nothing happens.

[2019-09-03 05:51] qJake commented on #22
@atomicpapa What version are you running? I believe I fixed this in 0.4.0+.

[2019-09-03 05:54] qJake commented on #21
Looks like I'll need to add support for auto-refreshing this entity type, I must have missed that for this tile. Thanks for reporting this!

[2019-09-03 13:53] davolesh opened #23 "Larger tiles don't allow smaller tiles to stick to each other"
Hi, great application!! I'm having an issue where the small tiles cant stick to each other when there's a larger tile on the layout.

![image](https://user-images.githubusercontent.com/10506816/64179079-88c6e900-ce30-11e9-8b61-9a4e2bf6ad2b.png)

![image](https://user-images.githubusercontent.com/10506816/64179331-fe32b980-ce30-11e9-9612-1f189ecfcfd7.png)

[2019-09-03 14:03] qJake commented on #23
Thanks for reporting this issue! This is actually a duplicate of #18, you can work around this by making your first tile (upper left corner) a 1x1 tile, and pressing Save Layout. That will let you place them in the grid properly.

I am working on getting this fixed so you can put something else besides a 1x1 in the first spot.

Closing as a duplicate, please track #18 thanks!

[2019-09-03 14:03] #23 closed

[2019-09-03 17:02] apop880 commented on #12
As someone who currently uses TileBoard but is watching this project with interest, I like a HACC provided screensaver he cause of the possibility of customization. For example, my TileBoard screensaver has the weather, clock, commute information at certain times of the day, and a customized set of randomized family photos to cycle through. My wife was particularly a fan of this, as 95% of the usa

[2019-09-03 17:47] qJake commented on #12
Well I was just going to start with a black screen to start, but @apop880 you make a good point, that would be a nice feature to have. I'm wondering what the best and/or easiest way to do that would be - maybe just enter a list of URLs (photo URLs) of images into a text area you want to cycle through?

[2019-09-03 18:22] davolesh commented on #23
Thanks!

[2019-09-03 19:13] rbflurry commented on #20
I am seeing this as well.   I hope the below is helpful

`
      Initializing HA Client Factory with URL http://192.168.47.203 and access token [eyJ0eX•••••••••••mZCHJM].

fail: Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware[1]

      An unhandled exception has occurred while executing the request.

System.Exception: Unexpected response code 0 from Home Assistant API endpoint /api/sta

[2019-09-03 22:23] atomicpapa commented on #22
You are correct.  It is working now.  I believe I was still running 0.3.2 at the time I asked

[2019-09-03 22:23] #22 closed

[2019-09-03 23:41] qJake opened #24 "Add floor plan support"
Add support for floor plans and entities inside.

Or, figure out a way to easily embed Lovelace into an iframe in a tile which may achieve the same thing.

[2019-09-04 01:01] qJake commented on #20
Yep - response code 0 indicates a network failure. Your address `http://192.168.47.203` is not accessible from within the HACC container.

Are you missing a port perhaps? (HA runs on 8123 by default...) Or if you're running HACC and HA in separate containers, I think some network bridging is required, but I'm not sure exactly what you'd need to do to fix it.

[2019-09-04 02:18] qJake commented on #18
I'm currently tracking this issue with the layout/grid/drag and drop system that is being used:

* https://github.com/desandro/draggabilly/issues/206
* https://github.com/metafizzy/packery/issues/533

I'm hoping to be able to resolve this once I hear back on one of these.

[2019-09-04 05:50] nickrout commented on #7
I don't have an alarm and I added this request because it was in the forum thread. I don't know how other frontends do alarm panels, but I am sure HA Dashboard has a native one.

[2019-09-04 05:51] nickrout commented on #13
upvote.

[2019-09-04 18:07] bachoo786 commented on #14
@sr-as2 same here

[2019-09-04 18:09] qJake commented on #14
I will be adding additional logging and error messages to the next version of HACC.

In the meantime, can you check the Docker console output for the HACC container and tell me if you see any errors?

[2019-09-04 18:14] bachoo786 commented on #14
No errors. I have posted my docker log in HA forum

[2019-09-04 20:48] castanhinha1 commented on #14
Same issue. This is the only issue I am really getting. Connection id "0HLPGRP59BR7G", Request id "0HLPGRP59BR7G:00000005": An unhandled exception was thrown by the application.

[2019-09-05 03:52] apop880 commented on #12
@qJake I think that makes perfect sense as a starting point. And maybe make the photos cycle as the screen background and allow for informational tiles to be placed in the foreground.

[2019-09-05 07:12] grewhit25 opened #25 "arm32v7 docker image"
Thanks for all your efforts in creating this project.

Is there a plan for an official (armhf/arm32/arm32v7) docker image that would run the trusted Raspberry Pis with 32 bits OS? I note the current images are all 64 bits releases.

In the meantime I have successfully built a 32bits Raspberry PI image from your original Dockerfile with the following two amendments:

[code]
Thanks again.

[2019-09-05 14:28] qJake commented on #25
@grewhit25 I'm actually in the process of upgrading the whole project to .NET Core 3.0 since that version supports a few more platforms (notably, Alpine AMD64 and Alpine ARMv8).

I will see if I can get this to work - either with the images you mentioned or with their 3.0 equivalents.

Hopefully in the end we'll have a `linux-ubuntu-arm32v7` tag in this folder:

https://github.com/qJake/HADotNet.C

[2019-09-05 17:33] grewhit25 commented on #25
@qJake Excellent and thanks for your commitment. Good luck with the upgrade.

[2019-09-06 05:21] qJake commented on #14
After some testing, I believe the issue is validation and just that the page doesn't tell you the validation errors. I'll be fixing that in a new version, in the meantime, please try **setting the following fields at a minimum** and then saving the theme:

* Background Color
* Font Size
* Tile BG Color
* Tile Font Color
* Tile Border Radius
* Default On Color
* Default Off Color

Let me know if th

[2019-09-07 15:12] azriele commented on #20
I am seeing this as well :(

[2019-09-07 16:28] qJake commented on #21
This will be fixed in 0.5.0, releasing this weekend sometime!

[2019-09-07 16:28] qJake commented on #19
This will be fixed in 0.5.0, releasing this weekend sometime!

[2019-09-07 16:28] qJake commented on #15
This will be fixed in 0.5.0, releasing this weekend sometime!

[2019-09-07 16:28] qJake commented on #14
This will be fixed in 0.5.0, releasing this weekend sometime!

[2019-09-07 16:28] qJake commented on #18
This will be fixed in 0.5.0, releasing this weekend sometime!

[2019-09-07 16:29] qJake commented on #25
This will be fixed in 0.5.0, releasing this weekend sometime!

[2019-09-07 16:30] qJake commented on #10
ARM32v7 support will be added in 0.5.0, releasing this weekend sometime!

AMD64 is still being worked on.

[2019-09-08 06:35] qJake commented on #25
@grewhit25 Try out our new Hass.io Addon, or if you aren't on Hass.io, check out the documentation here:

https://github.com/qJake/HADotNet.CommandCenter/wiki/Installing-via-Docker

In particular, you'll want to try:

[code]

Considering this as fixed since we have an ARM32v7 image - if you experience any issues with this image, please feel free to open a new request! 😃

[2019-09-08 06:35] #25 closed

[2019-09-08 06:36] qJake commented on #21
Released: https://github.com/qJake/HADotNet.CommandCenter/releases/tag/v0.5.0

[2019-09-08 06:36] #21 closed

[2019-09-08 06:37] max-rh opened #26 "Lost configuration after upgrading to latest image"
Hi Jake,

Thanks a lot for an amazing project; Finally a well designed easy to use dashboard for HA.

I just have an issue; I have HACC, HA and pretty much everything running in docker containers, and I have "watchtower" automatically upgrading them, so unless my containers are bound to volumes they will lose the configuration when updated.

Can HACC save its configuration to a volume ?

Thanks

[2019-09-08 06:37] qJake commented on #20
@apedance @rbflurry @azriele Can you update to 0.5.0 and go to the "Settings" tab, and make sure communication with your HA instance is working? If not, check the container (console) logs for more information.

[2019-09-08 06:40] qJake commented on #26
@max-rh Someone in this thread got persistent configuration saving working with Docker, I think around this post:

https://community.home-assistant.io/t/hacc-home-assistant-command-center/134843/60

You'll need to make sure both files/directories exist, and if you map those volume paths, it should persist.

Additionally, in 0.5.0, I added an import/export of the config so that you can back up your

[2019-09-08 06:40] qJake commented on #15
Released: https://github.com/qJake/HADotNet.CommandCenter/releases/tag/v0.5.0

[2019-09-08 06:40] #15 closed

[2019-09-08 06:41] qJake commented on #14
Released: https://github.com/qJake/HADotNet.CommandCenter/releases/tag/v0.5.0

[2019-09-08 06:41] #14 closed

[2019-09-08 06:44] qJake commented on #11
@nickrout I see what you're saying - on Linux, it doesn't display the names of the timezones, but my list goes from UTC-11 to UTC+14 (weirdly), and maybe I'm not that familiar with timezones, but aren't UTC+12 and UTC-12 equivalent? Can you try UTC+12:00 and let me know if that works and displays the correct time?

Also, some people have had success mapping this volume with Docker: `"/etc/localtim

[2019-09-08 06:45] qJake commented on #18
Released: https://github.com/qJake/HADotNet.CommandCenter/releases/tag/v0.5.0

[2019-09-08 06:45] #18 closed

[2019-09-08 06:46] qJake commented on #10
Released: https://github.com/qJake/HADotNet.CommandCenter/releases/tag/v0.5.0

[2019-09-08 06:46] #10 closed

[2019-09-08 06:56] max-rh commented on #26
Thanks Jake; it worked :)

[2019-09-08 07:00] #26 closed

[2019-09-08 07:01] qJake commented on #19
Released: https://github.com/qJake/HADotNet.CommandCenter/releases/tag/v0.5.0

[2019-09-08 07:01] #19 closed

[2019-09-08 07:49] BertrumUK opened #27 "401 error when restarting HACC"
Installed the new 0.5.0 version of HACC and added a device tracker as a test. This was working as expected. I stopped and restarted HACC and now I get the following error in the logs and the Web UI opens but does not fully populate the device tracker that I added

info: HADotNet.CommandCenter.Middleware.HAClientInitialization[0]
      Auto-initializing HACC via Hass.io addon.
fail: Microsoft.AspNe

[2019-09-08 08:14] grewhit25 commented on #25
@qJake A really good job. I am not on Hass.io but running you latest arm32v7 tag.

Just an aside, you may be able to do away with you tags if you were to adopt Docker's multiarch with manifest approach.

Eitherway, thanks again and looking forward to your future enhancements.

[2019-09-08 15:19] qJake commented on #27
@BertrumUK I thought I could cache the auth token the system provides but I guess it's different for each start/stop of the container.

I'm about to push out 0.5.1 that fixes this since it's a breaking change. Give it about an hour and you should see the update for the addon.

[2019-09-08 16:45] BertrumUK commented on #27
Just updated and its working again now. Thanks. Closing.

[2019-09-08 16:45] #27 closed

[2019-09-08 16:54] mkono87 opened #28 "No persistant storage in Docker setup?"
Is there a persistant folder to map to the host? Every time the docker updates I loose everything and get the welcome screen again. Have to make a new token ect.

[2019-09-08 19:13] qJake commented on #28
Yes, please refer to https://github.com/qJake/HADotNet.CommandCenter/issues/26

I will be adding documentation for this soon.

[2019-09-08 19:13] #28 closed

[2019-09-08 20:39] MarekLe opened #29 "Add custom state name"
## Description

I have a state tile for inform me than it's day to do something. It's now presenting 'On/Off' state on the dashboard. Is it possible to add custom names in ptile properties?
Another big feature would be possibility to set a color for state. For example red for On ane black for Off.

## Environment

0.5.1
RPi 3.

## Steps to Reproduce

1. List out the
2. Steps to take to
3. Reproduc

[2019-09-09 04:49] mf-social opened #30 "Feature request: Allow groups for Person Tiles"
Currently the Person Tile allows individual trackers, or Persons - The Person component is unreliable for me so I use a Group of device trackers to establish presence.  Would be nice to be able to select the group to display presence on one of these tiles.

Thanks.

[2019-09-09 14:33] frank451a opened #31 "No camera image - Hass.io addon Oracle VM 64Bit"
unable to view cameras on dashboard tried generic, onvif hikvision and axis camera types.

Running on Oracle VM - 64 Bit
Hass.io .098.4 Hassos 2.12
HACC .0.5.1
![image](https://user-images.githubusercontent.com/26573878/64539890-33e70f00-d317-11e9-84e0-390d81da25c5.png)

[2019-09-09 14:47] qJake commented on #30
@mf-social From a set of `device_tracker` or `person` entities, how would the dashboard know which one's information to display on the dashboard? We need the entity's state (its location/zone), and an `entity_picture` to display, so how would it know which one to select from a group?

[2019-09-09 15:25] mf-social commented on #30
Entity picture isn't drawn from the entity for other cards, one has to specify an mdi - could allow to add entity picture in the same way possibly?  Or just draw it from the group entity? (wouold actually be nice if other tiles did this if you didn't specify an mdi)

As for the state (location/zone) of the entity, I use the sate of the group to determine presence, that's kind of the point.

[2019-09-10 07:10] wzwick opened #32 "Add support for Google Calendar"
I think a fair number of users would like to see our upcoming schedule on the dashboard (something like atomic calendar)
could this be considered for future release?

[2019-09-10 14:29] FrGrump commented on #31
having the same issue with Ring doorbell and Floodlight Cam.

[2019-09-10 15:30] echopage commented on #31
same issue with xiaofang, on raspberry pi 3b, hassio 98.5 hassos 2.12

[2019-09-11 18:39] DieguitoCigala opened #33 "Switches not refresh"
## Description

When I turn on or turn off a switch outside of dashboard, the switch of dashboard not refresh to the current state.

## Environment

HACC version 0.5.1
Hass.io on a NUC Inter iCore i5 with docker
Homeassistant version 0.98.5
I use Safari on iPhone XS with iOS 12.4 and on iPad with iOS 12.4.1 (also I've tried Chrome)

## Steps to Reproduce

1. Open dashboard on iPad or iPhone
2. I t

[2019-09-12 02:38] qJake commented on #29
@MarekLe What is the entity ID (or, at least the type - the first part before the dot - like a `input_binary` or a `switch` or...?) Also, can you tell me the attributes on that entity in Developer Tools > States? The primary state of the entity is probably "On/Off" but if there are other properties on the entity that we can use, that may be an easier route to go.

[2019-09-12 03:13] qJake commented on #32
I was almost going to say that this isn't possible because HA only stores the most recent event, but I dug and found an undocumented API at `/api/calendars/<cal.entity>?start=X&end=X` that lets you pull multiple events.

So I think this is pretty doable, and would be a good addition! Definitely something I'd use myself. 🙂

[2019-09-12 03:50] qJake commented on #33
Fixed and released in v0.5.2!

[2019-09-12 03:50] qJake commented on #31
Fixed and released in v0.5.2!

[2019-09-12 03:50] #31 closed

[2019-09-12 09:21] wellsy57 opened #34 "Export config error"
## Description
Export config error

<Describe the problem.>

I have a problem with Exporting my config where I get an error which reads:

`hacc-export-20190912-071505.config.jsonFailed - Network error`

## Environment

<What version of HACC are you running?>

0.5.1.0, built on 09/08/2019 15:30:28

<What environment is it? Hass.io on a Raspberry Pi 3B+? AMD64 Docker on Alpine 3.10?>

Installed on Q

[2019-09-13 12:10] wellsy57 opened #35 "Override Label for Light Tile"
## Describe the new functionality

Add an Override Label for Light Tile Entity

## What will it look like in the Admin area?

It would be the same as the existing functionality in the Switch Tile Admin Area

## What will it look like on the dashboard?

The dashboard will then have the override lable text displayed.

## How will it work for standalone users vs. Hass.io Addon users?

Same for all us

[2019-09-14 14:17] qJake commented on #29
Thanks @MarekLe! I will make a point to add custom state names (changing "on"/"off") in a future release.

FYI, I am also planning to support calendar integration directly so you can print your agenda out on a tile! 😄

[2019-09-14 15:25] qJake commented on #34
@wellsy57 I am running the exact same setup as you (RPi 3B+ / Hass.io) and I can export my config - the only difference is that I am running 0.5.2 not 0.5.1. I don't think I made any improvements for this between those two versions but you may try updating to see if that resolves the issue.

It also looks like it downloaded the file in your screenshot - is it successfully downloading the config fi

[2019-09-14 15:44] qJake opened #36 "Custom/Additional CSS Not Applying"
Additional CSS can be defined in a theme, but it doesn't get included on the dashboard page.

Found in 0.5.2. Will be fixed in 0.5.3.

[2019-09-14 21:10] wellsy57 commented on #34
@qJake Thanks for getting back to me! There is a difference in our installations though....mine is "Installed on QNAP using ContainerStation (Docker)".
The download fails...nothing downloads.
I would like to move to 0,5,2 but was waiting to try to get my config so I dont have to setup from scratch again but I may just try to find the config in my docker...I'll let you know if that is successful.
C

[2019-09-15 11:47] Keplernl opened #37 "Dimmable light buttons"
## Describe the new functionality
Using a slider to also be able to dim lights. This can be done using the same style using the Lovelace Light button, or with a longpress opening a slider

## What will it look like in the Admin area?
Automatically added if the light supports dimming?

## What will it look like on the dashboard?
My suggestion would be to look like the lovelace light:
https://www.ho

[2019-09-15 11:50] Keplernl opened #38 "Covers/curtains"
## Describe the new functionality
Add the cover buttons, three buttons in 1 card: Up, stop and down

## What will it look like in the Admin area?
As an extra tile, but specially for covers (since these feature three buttons)

## What will it look like on the dashboard?
Something like this perhaps?
https://community-home-assistant-assets.s3.dualstack.us-west-2.amazonaws.com/original/3X/8/0/804e5642

[2019-09-16 14:15] qJake commented on #34
@wellsy57 Other people running a direct Docker container have been able to persist their `config.json` file by including a parameter when you run it: `-v /your/outside/path/to/config.json:/app/config.json` That may allow you to retrieve a copy of the `config.json` file so that you can persist it and upgrade!

[2019-09-19 00:58] qJake commented on #38
@Keplernl Today, you can use a `cover` with a Switch tile, however you only get open/close functionality (like a garage door). I will leave this enhancement open to support a proper `cover` tile that also includes a stop button (optionally). 🙂

[2019-09-19 00:59] qJake opened #39 "Add input_boolean support"
Add `input_boolean` support, probably within the Switch tile.

[2019-09-19 01:07] qJake commented on #30
@mf-social I feel like, based on this description, the State tile gets you pretty close to what you want. If you plug your "person group" into a State tile, what is missing as an option that you would want? Just the ability to set a profile picture and/or an MDI icon, instead of just displaying the state by itself as a label?

[2019-09-19 01:52] qJake commented on #5
We have media tile support, coming in the next release!

![image](https://user-images.githubusercontent.com/652006/65207064-2f78cf80-da56-11e9-99a6-5baf167b4e95.png)

[2019-09-19 02:46] qJake commented on #39
Released in [v0.6.0](https://github.com/qJake/HADotNet.CommandCenter/releases/tag/v0.6.0), closing this issue.

[2019-09-19 02:46] #39 closed

[2019-09-19 02:46] qJake commented on #36
Released in [v0.6.0](https://github.com/qJake/HADotNet.CommandCenter/releases/tag/v0.6.0), closing this issue.

[2019-09-19 02:46] #36 closed

[2019-09-19 02:47] qJake commented on #34
@wellsy57 I changed something in v0.6.0 for this, can you update and tell me if you're still having the problem?

[2019-09-19 02:47] qJake commented on #5
Released in [v0.6.0](https://github.com/qJake/HADotNet.CommandCenter/releases/tag/v0.6.0), closing this issue.

[2019-09-19 02:47] #5 closed

[2019-09-19 02:51] qJake commented on #35
Released in [v0.6.0](https://github.com/qJake/HADotNet.CommandCenter/releases/tag/v0.6.0), closing this issue.

[2019-09-19 02:51] #35 closed

[2019-09-19 04:47] Keplernl commented on #38
Ok, no problem that will do for now! Thanks

[2019-09-19 04:49] Keplernl opened #40 "Input boolean"
## Describe the new functionality
Input boolean works the same as a switch, but slightly different function
## What will it look like in the Admin area?
Same as switch

## What will it look like on the dashboard?
Like a switch that can be turned on and off

## How will it work for standalone users vs. Hass.io Addon users?
?

[2019-09-19 05:27] qJake commented on #40
Already done! See: https://github.com/qJake/HADotNet.CommandCenter/issues/39

[2019-09-19 05:27] #40 closed

[2019-09-19 10:19] mf-social commented on #30
I didn't really think about the state tile if I'm honest, I just wanted to represent a 'person' (ie a human rather than an entity from the person component) and thought the person tile was the place to go 🙂

[2019-09-19 10:19] #30 closed

[2019-09-19 20:51] DieguitoCigala commented on #33
With this update the switches refresh when your turn on but not when you turn off. I don’t know why.

[2019-09-21 17:56] qJake commented on #33
@DieguitoCigala When you use the standard Home Assistant UI to toggle the switch, does it take a moment for the system to recognize that the switch was flipped, or is it pretty instantaneous?

HACC just waits 1,000ms (I think) and then re-requests the state of the switch. So if your switch takes longer than 1,000ms to turn off, that may be the problem. Or, if it's a dimmer, that can also cause it.

[2019-09-21 18:38] DieguitoCigala commented on #33
It's pretty instantaneous but I don't think that it's as instant as 1 mS. I think that it's a little more.

It's not a dimmer.

[2019-09-28 00:04] #11 closed

[2019-09-29 00:05] #20 closed

[2019-10-09 00:09] #34 closed

[2019-10-11 00:10] #33 closed

[2019-10-13 08:26] Mariusthvdb opened #42 "Cant uninstall HACC"
## Description

<Describe the problem.>
It isnt possible to uninstall HACC

## Environment

<What version of HACC are you running?>

<What environment is it? Hass.io on a Raspberry Pi 3B+? AMD64 Docker on Alpine 3.10?>
Hassio on RPI4

## Steps to Reproduce

1. List out the
2. Steps to take to
3. Reproduce the issue

please see
https://community.home-assistant.io/t/hacc-home-assistant-command-cente

[2019-10-14 04:24] qJake commented on #42
This is a known issue, waiting on this thread for a fix: https://github.com/home-assistant/hassio/issues/1280

[2019-10-30 14:44] qJake commented on #42
Keeping open.

[2019-11-06 10:46] Mariusthvdb commented on #42
why was this closed??
bug is still alive and kicking on 101.2, as I have also reported on https://github.com/home-assistant/hassio/issues/1280

[2019-11-10 20:26] qJake commented on #42
@Mariusthvdb The stale bot is a bit aggressive. I'll check the settings.

If you add a comment on a stale issue, it will "refresh" it, so to speak.

[2019-11-22 06:37] Mariusthvdb commented on #42
this is still an issue, so please keep open

[2019-11-28 22:01] johntdyer opened #43 "Support HassIO Ingress"
## Describe the new functionality
Hass.io add-ons can make use of [ingress](https://www.home-assistant.io/blog/2019/04/15/hassio-ingress/) to enable seemly integration w/ the UI
## What will it look like in the Admin area?

## What will it look like on the dashboard?
It would show up on Hass not HACC

## How will it work for standalone users vs. Hass.io Addon users?
I would think it would be only

[2019-11-29 14:22] qJake commented on #43
This is planned for the next release! Definitely going to have this functionality.

[2019-12-02 07:17] azz24 commented on #12
I'm using an iPad and as far as I can find the Kiosk software available doesn't include a screensaver. For me it would be a great addition.

[2020-01-03 03:39] qJake commented on #42
Keep open.

[2020-01-04 17:43] qJake opened #44 "Update HACC to ASP.NET Core 3.1 (LTS)"
Upgrade Docker images and project code to ASP.NET Core 3.1 (LTS)

Docker base images will need to be updated and moved off preview/RC tags.

Code will need to be updated (especially startup code) to 3.x style.

[2020-01-04 17:51] qJake opened #45 "Add Docker Multi-Arch Support"
Change out all of the various Docker tags for v1.0 to use a single Multi-Arch tag.

Should also be compatible with Hass.io addons AND may fix #42 as well.

Reference: https://docs.docker.com/docker-for-mac/multi-arch/

[2020-01-04 18:44] #44 closed

[2020-01-04 18:53] qJake opened #48 "Update SemanticUI/FomanticUI to Latest"
Semantic-UI has been abandoned. Replace with the up-to-date community fork *Fomantic-UI*.

[2020-01-21 15:57] sylas opened #52 "Endless background task"
## Description

Every few days the "Community" page cannot finish the background task (the orange line is moving over and over). After restarting HA problem is solved for a few days.
The JS concole does not show anything suspect.

## Environment

Integration version: | 0.20.8
Frontend version: | 20200104192235

Hass.io on a Raspberry Pi 3B+

## Steps to Reproduce

1. Open the Community page.
2. Ob

[2020-01-22 02:47] qJake commented on #52
@sylas You have the wrong project - HACC is a tablet interface for Home Assistant. You want HACS, the community store.

Here is the forum thread for HACS:

https://community.home-assistant.io/t/custom-component-hacs/121727

[2020-01-22 02:47] #52 closed

[2020-02-04 06:02] qJake commented on #29
Done, and will be released in v1.0! Here's what the options look like:

![image](https://user-images.githubusercontent.com/652006/73718281-abac4080-46e1-11ea-8bbd-560835920206.png)

[2020-02-07 04:33] qJake commented on #17
I am going to provide limited support for this in v1.0 - you will be able to toggle fans on and off (where it will remember the last speed setting it was on). I will add a separate enhancement item to support selecting fan speeds (low/med/high) which will come in a future release.

[2020-02-10 11:45] fewyn opened #67 "Grouped Light Bulbs not working via Switch Tile"
## Description

I created a group of lights in my configuration then created a switch tile to control the multiple lights and when you click the tile it throws an API error and does nothing.

## Environment

<What version of HACC are you running?>
0.6.0

<What environment is it? Hass.io on a Raspberry Pi 3B+? AMD64 Docker on Alpine 3.10?>
Docker via Supervisor on Ubuntu 18.04

## Steps to Reproduc

[2020-02-27 01:56] SiliconAvatar opened #68 "Install Wiki needs update"
## Description

On wiki for this project, in the "Installing via Hass.io Addons" section, it states (in step 1) to navigate to the Hass.io tab. This language should be updated to state "Navigate to the Supervisor tab" since it was recently renamed.

I do not see a way to edit or make a PR on the wiki itself, hence this issue report.

## Environment

N/A

## Steps to Reproduce

N/A

## Screenshots

[2020-02-28 21:30] relaystar opened #69 "support for input_select"
## Describe the new functionality
The addition of a tile type to support input_select

## What will it look like in the Admin area?
min: The name of the entity
extra: the opportunitiy to select and icon for each of the various possible states

## What will it look like on the dashboard?
text of current state, drop down selection on click, or cycle through options

## How will it work for standalon

[2020-02-28 21:35] relaystar opened #70 "option to not show some weather sensors"
## Describe the new functionality
I would like to be able to hide individual sensors

## What will it look like in the Admin area?
a tick box next to each sensor to disable it from that weather tile

## What will it look like on the dashboard?
Nothing, that sensor just wont appear on the tile

## How will it work for standalone users vs. Hass.io Addon users?

[2020-03-06 15:57] qJake commented on #68
Thanks for catching this, fixed! 🙂

[2020-03-06 15:57] #68 closed

[2020-03-15 16:49] #67 closed

[2020-03-15 16:50] qJake commented on #67
Thanks for reporting this - will be released with version 1.0.

[2020-03-20 14:44] grantalewis opened #74 ""Too many redirects""
## Description

Initial install. I can see the Docker container running, but trying to access from any browser (Firefox, Chrome, Safari) encounters redirect problems.

* Firefox (Mac): The page isn’t redirecting properly. Firefox has detected that the server is redirecting the request for this address in a way that will never complete.
* Chrome (Mac): This page isn’t working. 192.168.1.35 redirect

[2020-03-25 09:41] sr-as2 commented on #74
Hi, same too many redirect error, but for me, the log show multiple errors:

`info: HADotNet.CommandCenter.Middleware.HAClientInitialization[0]
      Attempting auto-initializaion of HACC via Supervisor interface...
fail: HADotNet.CommandCenter.Middleware.HAClientInitialization[0]
      Unable to generate LLAT via Home Assistant WebSocket API. ERROR: {"id": 1, "type": "result", "success": false, "

[2020-03-26 03:06] qJake commented on #74
I am currently in the process of re-working the auth code for compatibility with the (new-ish) Supervisor. Please bear with me as I work through this.

[2020-03-27 07:11] themsk666 opened #77 "Weather details"
why on my HA command center for the weather sensor it's only show partlycloudy, no temperature value no anything else. in title edit there is the weather.home sensor selected. in the home assistant this sensor show all info.

[2020-03-28 20:32] qJake opened #80 "Change Service Calls from Toggle to Turn On/Off"
Some platforms don't support toggle (e.g. mqtt), will need to switch from toggle to turn on/off service calls instead.

[2020-03-28 20:35] qJake opened #81 "Add Switch On/Off Support for Media Entities"
Media player entities should support the turn_on/turn_off service calls if clicked.

Add support for these entity types via the Switch tile.

[2020-03-28 20:35] qJake commented on #74
Hi @grantalewis and @sr-as2, can you please try the latest prerelase (`v1.0.12`) to see if this is resolved? Thanks.

[2020-03-28 20:37] grantalewis commented on #74
I’m not going to be much help, I’m afraid. Was contemplating using an old iPad but found out that it’s under-powered. And as I am currently unemployed, I’ll have to save my pennies before I can afford an android tablet. Good luck!

[2020-03-28 20:38] qJake commented on #77
Hi there @themsk666, the Weather tile does not yet support the `weather` entity type in Home Assistant.

You'll need to provide sensors that provide each respective value. Currently, the Dark Sky API platform is best supported, but you can play with other platforms to see if you can get it to work as well.

For example - my setup:

![image](https://user-images.githubusercontent.com/652006/77833270

[2020-03-28 20:38] #77 closed

[2020-03-28 22:19] flyingspin commented on #74
I just downloaded the latest docker image, and sadly I'm still having the same issues.  Let me know if you'd like a copy of the exact error I'm currently receiving

[2020-03-29 00:40] qJake commented on #74
Yeah @flyingspin if you could paste your full log text that would be most helpful.

[2020-03-29 01:38] flyingspin commented on #74
fail: Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware[1]
      An unhandled exception has occurred while executing the request.
System.NullReferenceException: Object reference not set to an instance of an object.
   at HADotNet.CommandCenter.Middleware.HAClientInitialization.InvokeAsync(HttpContext context) in /src/HADotNet.CommandCenter/Middleware/HAClientInitialization.cs:line 103

[2020-03-29 01:41] flyingspin commented on #74
@qJake let me know if there is anything else I can provide

[2020-03-29 14:23] sr-as2 commented on #74
Yep it's working :-)
But i can't add tile (error 404) but i think it's under control ;)

[2020-03-29 14:27] flyingspin commented on #74
What browser are you using @sr-as2, I've tried running the docker image on 3 different hosts, and haven't been able to connect on either of them, so wondering if its my browser.

[2020-03-29 22:20] qJake commented on #74
It may also be the difference between a new set up versus a set up with a pre-existing access token. I will have to investigate further.

[2020-03-30 07:05] sr-as2 commented on #74
Last chrome version

[2020-03-30 14:16] avishayil opened #82 "Cannot load web interface"
## Description

After initializing hacc from the arm32v7 docker container, i'm receiving an error from ASP.NET

## Environment

arm32v7 docker container

RasberryPI 3B

## Steps to Reproduce

1. Pulled the container
2. Run the container
3. Try to access ip:8095

## Screenshots

[code]

[2020-04-05 22:03] qJake commented on #43
After actually attempting to implement this, I have unfortunately found out that it is not possible to support Ingress at this time, due to how Home Assistant embeds/rewrites the HTML to fit inside of the HA/Lovelace interface.

Closing for now, but will reopen if I find a way to support it in the future or something changes.

[2020-04-05 22:03] #43 closed

[2020-04-05 22:04] qJake commented on #45
Found out that this is still experimental and not well-supported on Windows.

Also, there is no need to support this since the HA supervisor has its own {arch} tag identifier for multi-arch support.

[2020-04-05 22:04] #45 closed

[2020-04-05 22:06] qJake commented on #42
As of Feb 7, I identified and fixed this issue. It will be released with v1.0 (or, tentatively being called "v1.1" now since there has been a lot of beta testing with "v1.0" already).

Closing as fixed!

[2020-04-05 22:06] #42 closed

[2020-04-06 02:19] qJake commented on #82
Hey @avishayil I pushed out preview build 1.0.16 and updated the containers, can you let me know if this is fixed for you? Thanks!

[2020-04-06 02:19] qJake commented on #74
@sr-as2 Can you update your container to latest (v1.0.26 or higher) and let me know if this is fixed? Thanks!

[2020-04-06 02:29] flyingspin commented on #74
Just tried it out and it works now! Thanks man

Sent from my iPhone

[2020-04-06 02:32] qJake commented on #74
Awesome! Glad to hear it.

[2020-04-06 02:32] #74 closed

[2020-04-06 02:57] qJake opened #87 "Fix Timezones in Supervisor Addons"
Timezone information does not load in the Supervisor environment.

Refactor this dropdown to just have UTC offsets.

This will probably make daylight savings not work properly but there is no cross-platform alternative right now for .NET.

![image](https://user-images.githubusercontent.com/652006/78519245-67dcc280-7788-11ea-89a3-21054892f8ab.png)

[2020-04-06 07:49] avishayil commented on #82
Seems that that specific bug is solved, thanks @qJake
Could you elaborate what you did to solve it?

[2020-04-06 07:49] #82 closed

[2020-04-06 08:30] avishayil opened #88 "Cover icons are not updating with state changes"
When opening cover, for example, it's state is changing to "open" where the icon is designed to support "on" state.

<Describe the problem.>

## Environment

1.0.16
Raspberry PI 3B

<What environment is it? Hass.io on a Raspberry Pi 3B+? AMD64 Docker on Alpine 3.10?>

- Add switch tile cover style
- Attach icons for "on" and "off" displays
- Open cover
- Icons are always staying "off"

## Screensh

[2020-04-06 08:37] sr-as2 commented on #74
Same 404 error qJake when i add a tile.

`fail: Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware[1]
      An unhandled exception has occurred while executing the request.
System.Exception: Unexpected response code 502 from Home Assistant API endpoint /api/states.
   at HADotNet.Core.BaseClient.Get[T](String path)
   at HADotNet.Core.Clients.EntityClient.GetEntities()
   at HADotNet.Comm

[2020-04-06 17:29] qJake commented on #82
@avishayil The 1.0.x builds are all previews but I have to push them to Docker to test them in the HA Supervisor. So if you update Docker regularly, you'll have gotten a preview build.

Sorry for the inconvenience!

[2020-04-06 17:31] qJake commented on #88
Ah, interesting. I think this is an issue with it being "open"/"closed" vs. "on"/"off". I will investigate. Should be fixed before the next major release.

[2020-04-06 17:33] qJake commented on #74
@sr-as2 Can you reply with your full environment info (hardware, Docker or Supervisor, versions...), and what is listed on your Settings page (minus your LLAT token - you can mask that out)?

A screenshot of the `/admin/technical` page might be helpful as well - feel free to mask out any sensitive info you don't want to share.

[2020-04-07 07:42] sr-as2 commented on #74
Ok @qJake , i'll open a new issue

[2020-04-07 08:02] sr-as2 opened #89 "Impossible to add tile"
Hi,
hacc version 1.0.16

I can only add these tiles:
Navigation, Blank and Date tile
And i can't access to admin/technical, it's a 404

My Settings page is empty, i try to add a token but it doesn't work:

`fail: HADotNet.CommandCenter.Controllers.AdminController[0]
      Invalid system settings entered, or unable to reach Home Assistant with the specified information.
System.Exception: Unexpected

[2020-04-07 19:54] qJake commented on #89
@sr-as2 What are you entering for the settings? You generated a long-lived access token, I'm assuming, and what base URL are you using?

[2020-04-08 07:16] sr-as2 commented on #89
I start grom the beginning :
- Remove HACC beta
- Install HACC beta

Create a LLT, add it in the /Admin/Settings
<img width="434" alt="HA1"
 src="https://user-images.githubusercontent.com/48023575/78755180-0b8cc500-7979-11ea-8de4-b4ac0bc707b4.PNG">

Clik Save settings and have an error:
<img width="909" alt="HA2" src="https://user-images.githubusercontent.com/48023575/78755348-468ef880-7979-11ea-8

[2020-04-10 02:15] qJake commented on #89
@sr-as2 Do you have the [HTTP component](https://www.home-assistant.io/integrations/http/) configured in Home Assistant?

Mine looks like this, yours should look similar:

[code]

This (especially the `base_url`) is required by HACC.

[2020-04-10 03:15] #48 closed

[2020-04-10 03:20] #81 closed

[2020-04-10 03:20] #87 closed

[2020-04-10 03:20] #88 closed

[2020-04-10 03:23] qJake commented on #88
I think I've addressed this in 1.0.17 and higher (will be built and released within 20 minutes from this post), please let me know if this is still not fixed and I can reopen.

[2020-04-10 07:54] sr-as2 commented on #89
My conf:
`http:
  base_url: https://_mydomain_.fr.to`

I set the LLT and impossible to save:

`fail: HADotNet.CommandCenter.Controllers.AdminController[0]
      Saving system settings failed.
System.NullReferenceException: Object reference not set to an instance of an object.
   at HADotNet.CommandCenter.Controllers.AdminController.Settings(SystemSettings newSettings) in /src/HADotNet.CommandCente

[2020-04-10 16:19] qJake commented on #89
@sr-as2 I published a new 1.0.17 preview build last night. I altered some of this logic - I'm wondering if you try again with the new version, are there any new/different messages in the log? Or could you post the full log?

[2020-04-10 19:16] sr-as2 commented on #89
Last post was done with 1.0.17

[2020-04-11 03:24] qJake commented on #89
@sr-as2 Just released 1.0.18, can you try again and post any relevant logs if things don't go right?

[2020-04-11 07:42] sr-as2 commented on #89
Yeah ! Great it's working!
Thank you @qJake !

[2020-04-11 07:42] #89 closed

[2020-04-11 12:00] jruibarroso opened #92 "How do I update ?"
Hi, I'm running version 1.017 and realised that you already launch v1.018, how can I update ? reinstall this way :
docker pull qjake/hacc
docker run -p 8095:8095 qjake/hacc
??

thank you for your great work
(sorry, this seems not to be right topic, but can't find one)

[2020-04-11 15:56] qJake commented on #92
Hi @jruibarroso Yes, you should be able to stop your container (`docker stop <container-id>`), and then re-run `docker pull qjake/hacc` which will pull the latest version, and then re-run the container.

[2020-04-11 15:56] #92 closed

[2020-04-11 15:57] qJake commented on #89
Awesome! Glad we were able to resolve it!

[2020-04-11 16:09] jruibarroso commented on #92
How can I know my container ID ?

Jake Burgy <notifications@github.com> escreveu em sáb, 11/04/2020 às 16:56 :

--
Enviado pelo meu iPhone Xs

[2020-04-11 19:39] qJake commented on #92
You can run `docker ps` to see running containers.

[2020-04-11 22:47] jruibarroso commented on #92
Thank you, already updated 😃

Jake Burgy <notifications@github.com> escreveu em sáb, 11/04/2020 às 20:39 :

--
Enviado pelo meu iPhone Xs

[2020-04-13 11:21] jruibarroso opened #93 "Automation Tile"
## Describe the new functionality
good to have an HA Automation Tile

## What will it look like in the Admin area?
like a Switch Tile
## What will it look like on the dashboard?
like a Switch Tile
## How will it work for standalone users vs. Hass.io Addon users?

[2020-04-13 14:11] qJake commented on #93
@jruibarroso Just to confirm, would this just fire/trigger an automation then?

[2020-04-13 15:40] jruibarroso commented on #93
No, automation already created on HA .Just   Enable or disable automation

[2020-04-14 01:09] qJake commented on #93
Oh, you want to toggle it on/off?

This is a good idea, but you can actually do this today, if you set up an [input_boolean](https://www.home-assistant.io/integrations/input_boolean/) and let your HACC dashboard toggle it on and off, and then in your automation, just check that the input_boolean is "on" before running it.

Still, I will leave this open for supporting this directly!

[2020-04-14 08:12] jruibarroso commented on #93
That’s a very good idea 💡. I’ll do it this for may automations and then,
if supported, I’ll change . Thanks

Jake Burgy <notifications@github.com> escreveu em ter, 14/04/2020 às 02:10 :

--
Enviado pelo meu iPhone Xs

[2020-04-16 00:38] qJake opened #94 "Groups Don't Toggle Correctly"
There is no service called "group.turn_on" or off, so the replacement code for these service calls doesn't work.

Replace "group" with "homeassistant" and it should work.

[2020-04-16 00:53] #94 closed

[2020-04-17 10:36] jruibarroso opened #96 "error on starting"
## Description

sudo docker run -p 8095:8095 qjake/hacc
docker: Error response from daemon: driver failed programming external connectivity on endpoint clever_mestorf (c30894ec775c15e953abe239a068af92f1765ec4d72e8f19440452a16afb116b): Bind for 0.0.0.0:8095 failed: port is already allocated.
ERRO[0000] error waiting for container: context canceled
## Environment

<What version of HACC are you runni

[2020-04-17 14:58] qJake commented on #96
Port 8095 is already in use. Use `docker ps` to find your running container, and `docker stop <first few characters of your containter ID>` to stop it. Then you can do `docker run`.

But if you're just trying to upgrade to a new version, see the instructions on our new (beta) site here: [Updaing HACC](https://hacc.dev/install/#updating-hacc) - essentially, you want to `stop`, `pull`, and `start`.

[2020-04-22 21:15] #96 closed

[2020-04-25 15:43] jruibarroso opened #97 "can't import"
## Description

import Configuration Control and Themes

## Environment

v1.019

AMD64 Docker on Ubuntu 18.04

## Steps to Reproduce

when import , don't accept *.json

## Screenshots

[2020-04-27 21:41] qJake commented on #97
Can you provide more information? What is the problem? What file are you trying to upload / import? From what version is the import file? What error are you getting? Can you paste the application log?

[2020-04-27 21:49] jruibarroso commented on #97
As I understood is a MacOS problem in open files

Jake Burgy <notifications@github.com> escreveu em seg, 27/04/2020 às 22:41 :

--
Enviado pelo meu iPhone Xs

[2020-04-28 19:02] qJake commented on #97
What browser are you using?

[2020-04-28 22:13] jruibarroso commented on #97
Chrome and Safari , can’t select file to open , both files are grey (unselectable)

[2020-04-28 22:22] jruibarroso commented on #97
On windows10, with Chrome there are no issues

[2020-05-16 05:28] arfrater opened #98 "Responsive Layout"
## Describe the new functionality
When viewing on a mobile phone or tablet the whole page can be view without having to resize. It might save on having to have separate views or pages for multiple devices.
## What will it look like in the Admin area?
Possible a Responsive Layout box to tick with the max size set by the Device Height (px) and Device Width (px)
## What will it look like on the dashb

[2020-07-05 00:28] #97 closed

[2020-07-10 15:14] nordikafiles opened #99 "UI doesn't work on old android tablet."
## Description
Probably it is because of using of some quite modern javascript features (like classes, async/await etc).

## Possible solution
I guess it could be solved by transpiling es6 to es5 (for example using babel).

[2020-07-17 21:11] bowhunt24 opened #100 "Latest HACC version is 0.6.0"
Using HACS, with auto update turned on, the latest version I can get is 0.6.0, so no pages and missing lots of other functions that are talked about.

[2020-07-21 02:48] qJake commented on #100
Yes, this is by design - v1.x is currently in testing, not out just yet. Those who load HACC manually from Docker receive the beta/faster releases. Those who use the Supervisor add-on interface within HA are still on 0.6/0.7 until 1.0 is fully tested and released.

v1.x will be fully released soon - stay tuned. :)

[2020-07-21 02:48] #100 closed

[2020-07-22 19:50] nelbs commented on #42
Unfortunately I ran into the same problem. After I installed the addon HACC 0.6 I noticed that I could beter install the beta 1.019.

Uninstalling the addon results in an error. I tried to delete the container in portainer, update Home assistant and reboot the host as @Mariusthvdb mentioned in https://github.com/home-assistant/supervisor/issues/1280#issuecomment-558605230 suggested.

Unfortunately

[2020-07-27 20:30] levidavis opened #101 "cant add tiles"
hia ,
just a quick one I can't add any tiles might just be me but whenever I select a tile I want the page just says "Uh Oh something broke :(" .
also, i installed it via add-ons store in Hassio

[2020-07-28 00:54] qJake commented on #42
@nelbs You'll have to wait for a newer version (e.g. 1.0) to come out. The issue was in the addon configuration, and that is only fixed in the newer images that we have not released officially yet.

I want to say that someone else found a workaround for how to remove it but I'm not sure where or how exactly.

[2020-08-11 02:09] qJake commented on #99
Yes, we [transpile to ES6](https://github.com/qJake/HADotNet.CommandCenter/blob/master/HADotNet.CommandCenter/tsconfig.json), so I'm not sure how we would go about making this ES5-compatible while not harming any devices that are ES6-capable, do you have any ideas?

[2020-08-20 08:06] KevSex opened #105 "No configuration options and errors in logs"
## Description

No Settings page to configure and receiving error in logs

## Environment

HACC 0.6.0
Odroid XU4
Ubuntu 18.04.5 LTS armv71

## Steps to Reproduce

Install HACC using the "Easy" method on your site

![image](https://user-images.githubusercontent.com/13280296/90733184-1d398e00-e2c4-11ea-909f-b6758345700a.png)

Looking at other screenshots online, this Settings page should show the lo

[2020-08-20 08:26] KevSex commented on #105
Using the "beta" option looks to have worked

[2020-10-01 04:19] qJake commented on #101
This should be fixed when we release v1.0, please try again once that version is released. Keep an eye on this repository, or the Home Assistant community forums for an announcement!

[2020-10-01 04:19] #101 closed

[2020-10-10 00:43] djtail opened #106 "Cant Uninstall the addon"
## Description

Cant uninstall the addon using the supervisor gui

## Environment

Running Version 0.6.0

 Hass.io on a Raspberry Pi 3B+

## Steps to Reproduce

going true the supervisor gui, and press the uninstall button i got this fail message when trying to uninstall, checked the logs but they are empty

## Screenshots

<Paste or upload screenshots here.>
![bild](https://user-images.githubuser

[2020-10-11 18:56] lukewelch opened #107 "Configuration doesn't save after restart"
Hi

Im running the Beta Version (1.0.22) and upon a restart non of my pages, layouts, themes or access token are saved.

Excellent software though :)

[2020-10-11 19:54] qJake commented on #106
This is a known issue and a duplicate of #42 - please refer to that conversation.

This is fixed in 1.0+, will be releasing soon.

[2020-10-11 19:54] #106 closed

[2020-10-11 19:57] qJake commented on #107
Can you post your full log text if running from the Supervisor? On the Log tab in the addon config.

Or, if you're just running a straight-up Docker container, you'll need to reproduce the bug while a terminal is attached so you can see and grab the logs.

[2020-10-11 20:05] lukewelch commented on #107
info: HADotNet.CommandCenter.Startup[0]

        _    _          _____ _____
       | |  | |   /\   / ____/ ____|
       | |__| |  /  \ | |   | |
       |  __  | / /\ \| |   | |
       | |  | |/ ____ \ |___| |____
       |_|  |_/_/    \_\_____\_____|

       Home Assistant Command Center
              Version 1.0.22

      Now listening on: http://*:8095

warn: HADotNet.CommandCenter.Middleware.HA

[2020-10-11 20:18] lukewelch commented on #107
I Found a previous issue on how to remove version 0.6.0

[2020-10-13 20:45] lukewelch commented on #107
Hi Jake

just wondering if you managed to replicate the issue?

thanks

[2020-10-27 00:54] #105 closed

[2020-10-27 15:27] aladin2000 opened #108 "Format Error"
## Description
standard_init_linux.go:211: exec user process caused "exec format error"
<Describe the problem.>qjake/hacc

## Environment

<What version of HACC are you running?>
latest

<What environment is it? Hass.io on a Raspberry Pi 3B+? AMD64 Docker on Alpine 3.10?>
Ubuntu 18.04
## Steps to Reproduce

1. List out the
2. Steps to take to
3. Reproduce the issue

docker run -p 8095:8095 qjake/h

[2020-11-12 18:14] hpapagaj commented on #97
I have same problem. I am using Safari and Mac OS X.

[2020-11-12 18:15] hpapagaj commented on #105
Same problem here. Stable is not as stable as name says. It doesn't work under latest HA. Beta is working.

[2020-11-12 18:27] hpapagaj commented on #97
Please remove ".theme.json" from `<input type="file" accept=".theme.json" id="importBrowser" name="file">`. Use only .json or nothing.

For others as workaround, right click -> webinspector -> search for accept and remove ".theme.json". After that you can import the theme.

[2020-11-17 04:45] qJake commented on #97
@hpapagaj Is there a macOS bug specifically that you can provide information on where this doesn't work? Is it specific to Safari?

In every OS, you can also change the filter to be able to upload any file type, so even if there is a bug, this doesn't prevent you from uploading the correct file.

[2020-11-18 09:49] stefanolson commented on #7
This is something I am looking for, looks like api call is something like this: states/alarm_control_panel (maybe alarm_control_panel.alarmo in my case). Does that make sense?  Still trying to figure it out myself, this sort of panel would be very useful.

[2020-12-03 22:21] wretanhewe opened #109 "HACC unable to reach Homeassistant Instance"
## Description

When setting up a new docker container of HACC, and inputting my Base URL and Long-Lived Token, I get the error:
"The settings entered are not valid. HACC is unable to reach your Home Assistant instance. Try your entries again, consult the setup guide for help, or check the logs (console) for more information."

And in the logs of the Docker container I see on repeat:
[code]
Which

[2020-12-08 19:10] qJake commented on #109
Thanks for reporting this, I think there may be some issues with 0.118.x and the API that I need to investigate, I will let you know what I find soon!

[2020-12-20 21:07] bctrainers commented on #109
Just wanted to pop in and say I'm having the same issues here. Fresh install of Home Assistant on Debian 10 Virtual Machine, the HACC container is on the same install as HA.

Returned error on the terminal...
[code]

The running instance of HA and the given URL...

[code]

Forcing an External URL and Internal URL under HA's /config/core makes no difference.

[code]

[2021-01-03 01:03] #108 closed

[2021-01-12 23:39] Colorado4Wheeler opened #110 "Blank Dashboard"
## Description

After install HACC I got the interface once, then switched over to get my token from HA and when I returned I got nothing but a blank page.  I can view source and see that there is some HACC generated HTML but nothing shows.

I thought perhaps there was a config file I could blow away but saw non under config or config/.storage that I could see.

## Environment

HACC 0.6.0

Raspber

[2021-01-23 20:47] qJake commented on #110
In this version, you have to go to, I think, `/admin` in order to administer the addon.

Future versions have reversed this - the homepage is the admin area, and the dashboard is located at `/d`.

[2021-01-23 20:47] #110 closed

[2021-01-23 20:48] qJake commented on #99
The latest beta of HACC has a "Debug" tile that you can add, that when you click on it, will pop up browser information onto the tablet/device.

Try this, and provide a picture/screenshot of your device. I suspect that it is unfortunately too old/slow to support the features that HACC requires, but with this debug tile, you can at least get confirmation.

[2021-01-25 01:51] slm4996 commented on #109
V1.0.24 (HA Supervised install via beta channel) now throws this error and then stops:
![Screenshot_20210124-205033_Chrome](https://user-images.githubusercontent.com/37423/105651819-e0cb1900-5e85-11eb-8cad-f048f3d83e27.jpg)

[2021-01-25 02:56] qJake commented on #109
@slm4996 Thanks for reporting that. That's actually a separate bug related to a dependency versioning issue.

I'm in the process of releasing v1.0.25 that I'm hoping will fix this. Please try this version as soon as it reaches you!

[2021-01-25 03:02] qJake commented on #107
Sorry for the delay... can you update to 1.0.25 or newer and let me know if this is still an issue?

Also, please provide full details of your system (how are you running Home Assistant? What version? Are you running HACC via Supervisor or separate Docker container...?)

[2021-01-25 15:14] slm4996 commented on #109
Happy to report that version 1.0.26 resolves both issues.
Thank you!

[2021-01-25 19:36] qJake commented on #109
Sweet, thanks for reporting back!

[2021-01-25 19:36] #109 closed

[2021-01-28 17:28] itzalgd24 opened #114 "camera_thumbnail Websocket endpoint is deprecated"
Anytime I try to add a camera to my dashboard, whether it is CCTV, weather map or video doorbell, I get the following error repeatedly in my HA log.

**The websocket command 'camera_thumbnail' has been deprecated**

It crashed my HA last evening, so I had to remove them from my dashboard. Once I did that, all was back to normal.

Am I overlooking something?

[2021-01-28 21:54] qJake commented on #114
What version are you running?

[2021-01-28 22:30] itzalgd24 commented on #114
1.0.26, just installed this week to replace a laggy Lovelace Dashboard on
my Galaxy tablet. Loving the HACC (with the exception on not having a
thermostat tile, but I worked around that). But the camera thing has been
completely puzzled.

It does not matter what camera type it is, if it feeds to a tile
(thumbnail), I am getting 100's of repeated deprecated errors, which is
filling up my logs and c

[2021-01-28 22:33] itzalgd24 commented on #114
Also, to note. It does not matter where I am viewing the dashboard, whether
on the tablet or phone or PC. AND the errors do not show up if the cameras
are not displaying on the screen. So, I can add the cameras in the layout,
and I can be on another screen, say the screen where I have all of my
lights, and the errors do not come in. As soon as I switch to the screen
with the cameras, then the erro

[2021-01-29 14:12] arfrater opened #115 "HACC is unable to reach your Home Assistant instance"
## Description

**Error
The settings entered are not valid. HACC is unable to reach your Home Assistant instance. Try your entries again, consult the setup guide for help, or check the logs (console) for more information.**
 is shown after adding the long lived token and setting the Override Asset Base URL

## Environment

Home Assistant 2021.1.5

AMD64 Docker on Linux Debian

## Steps to Reproduc

[2021-01-29 14:14] arfrater commented on #115
![Screenshot_2](https://user-images.githubusercontent.com/49191109/106285370-2295fe00-6290-11eb-8dfa-479e13c155a4.jpg)

[2021-01-31 21:41] qJake commented on #115
That's really strange... it's saying it can't reach that URL, but it's accessible via the internet (I can get to it here).

I'm gonna guess that, for some reason, it's not able to resolve https://<your-HA-install>/api/discovery_info from within the addon, but I don't know why.

One thing you could try is entering `https://<your-HA-install` into the **Override Asset Base URL** field to see if that

[2021-01-31 21:46] qJake commented on #114
I found this issue:

https://github.com/custom-cards/surveillance-card/issues/22

Which states that the `camera_thumbnail` API within the Websocket connection is deprecated.

I'll need some time to rewrite the way the camera pulls the image from HA. At least it hasn't broken... yet. So there's still time!

[2021-01-31 21:48] qJake commented on #107
Hi @lukewelch, v1.0.26 or newer should address this - let me know if you're still having any issues. Feel free to reply and reopen the issue.

[2021-01-31 21:48] #107 closed

[2021-01-31 21:48] qJake commented on #80
Marking as completed - not experiencing any issues with this currently.

[2021-01-31 21:48] #80 closed

[2021-02-01 01:25] itzalgd24 opened #117 "Cannot locate config.json file"
Forgive me for the questions. New to HACC and really like it.

My problem that it will not let me back up my config. I get a "Failed - network error" when trying to back up, and it kicks out the authentication so I have to put my HA path and LL token back in.

My volume is: ${USERDIR}/docker/hacc:/app/config.json

Trying to update to version 1.1 released today, but it will not update without repul

[2021-02-01 04:13] qJake commented on #117
The documentation was previously incorrect. The correct way to mount the data directory is:

`-v ${USERDIR}/docker/hacc:/app/data`

*Ref:* https://hacc.dev/install/#running-hacc

Give that a try and let me know if it works!

[2021-02-01 04:15] qJake commented on #117
The correct path housing the config file is `/app/data/config.json`, try mapping that to see if you can get it out.

And then, when you update to 1.1, use this argument to map the correct folder if you want to persist the config:

`-v ${USERDIR}/docker/hacc:/app/data`

I recently fixed the documentation to reflect this as well: https://hacc.dev/install/#running-hacc

[2021-02-01 04:17] qJake opened #118 "Add Confirmation Prompt"
## Describe the new functionality

When certain actions are performed, first prompt for confirmation with user-customizable prompt text.

## What will it look like in the Admin area?

New field(s) for enable prompt, and prompt text.

## What will it look like on the dashboard?

Likely just the standard JavaScript confirmation popup since it's cross-platform compatible, or a modal, if one is easy a

[2021-02-01 06:31] #29 closed

[2021-02-01 06:33] qJake opened #120 "Add State Mapping for State Tile"
## Describe the new functionality

Add support for mapping any state from Home Assistant, to any display text.

## What will it look like in the Admin area?

Probably just a textarea with one line being the mapping, so you'd have something like:

[code]

Or something to that effect.

💡 Bonus points: Support wildcards or regex: `un*:Unknown or unavailable`

### Icons

Could also support icons, if w

[2021-02-01 06:34] #9 closed

[2021-02-01 06:35] #32 closed

[2021-02-01 13:22] itzalgd24 commented on #117
Now I am getting somewhere. By following the thread and creating the
config.json file in Linux first, I was able to get it to work, along with
your recommendation. It appears that the config.json file is populating.

Unfortunately a little too late and I lost 100 tiles and two days worth of
work before I got it working. :(

On Sun, Jan 31, 2021 at 11:15 PM Jake Burgy <notifications@github.com>
wro

[2021-02-01 17:30] qJake commented on #117
Sorry to hear that. 😢

v1.1.x should be more stable in this regard, and as long as you have that path mapped, you can instruct your host system to back up that file regularly so you don't lose any more work.

Going to close this for now, if you experience this issue again, please comment / reopen. Thanks.

[2021-02-01 17:30] #117 closed

[2021-02-28 14:02] branitelj91 opened #121 "Add Script Execution Tile"
## Describe the new functionality

Pardon me if this option exists but I am unaware of.
A nice option would be a scripts calling item. I cannot see one if that exists.

## What will it look like in the Admin area?

## What will it look like on the dashboard?

A button that will have icon text or number on it which will reflect respective script

[2021-03-03 04:36] arfrater commented on #115
Well decided to install on another server and connected to HA running ok ??

[2021-03-03 04:40] arfrater commented on #7
Yes I would like to add an alarm panel as well

[2021-03-08 21:35] qJake commented on #121
@branitelj91 As a workaround, you can make a scene that calls a script, there is support for activating Scenes from a HACC tile.

I will leave this open to support scripts directly. I realize it is a bit cumbersome to create one scene for every script you want to call!

[2021-03-08 21:39] qJake commented on #115
If it connected OK, it doesn't really matter where HACC is installed - it is perfectly OK for it to be on a different server. 😉

Please open a new issue if you run into any other issues, thanks!

[2021-03-08 21:39] #115 closed

[2021-03-08 21:45] qJake commented on #7
Is everyone just looking for basic **ARM** / **DISARM** buttons that just make HA service calls, or are we actually looking for a full numeric keypad as well?

I don't know if the Home Assistant API will allow me to access the alarm code, so you'd have to enter your own alarm code, and then decide what services or scripts to fire when someone arms, disarms correctly, or enters an incorrect code.

[2021-03-10 11:38] arfrater commented on #7
I was thinking Alarm Keypad and buttons myself (thinking small touch panel in garage)

[2021-03-23 22:18] jkread opened #122 "Blank Overrides"
## Describe the new functionality
The ability to provide a blank value for all override options.

## What will it look like in the Admin area?
Either a toggle for making the override blank or a special value that can be entered.

## What will it look like on the dashboard?
Whatever is overridden with a blank simply won't appear.

[2021-03-25 10:06] branitelj91 commented on #121
I have made it, already.

However, thank You very much for the hint

[2021-03-31 18:17] qJake commented on #122
I'm sorry, could you provide some additional details and/or screenshots here? I'm not sure what this functionality would do exactly, or where you're referencing in the Admin Area for these changes to occur.

[2021-04-05 03:47] juan11perez opened #123 "Adding input_boolean to a Page hides icons, text on other tiles except navigation"
## Description

When adding input_booleans to any page, the existing tiles loose their icon, text, etc. Only the frame remains.

## Environment

Version 1.1.1

Docker lastest

## Steps to Reproduce

1. add page
2. add switch tile
3. pick input_boolean

## Screenshots
![2021-04-05_07-46](https://user-images.githubusercontent.com/30061229/113534968-27a26100-95e3-11eb-9656-32f6530a7db7.png)

[2021-04-10 01:01] #99 closed

[2021-04-17 02:42] arfrater opened #124 "Navagate to URL/Away/Open Page"
## Describe the new functionality
Add a tile to navigate away from the dashboard or to open a URL (wanting to use both HA and Appdeamon Dashboard together)

## What will it look like in the Admin area?
Same as adding a tile or option in the navigation tile Target Page of Target URL

## What will it look like on the dashboard?
Like a normal navigation tile

[2021-04-17 03:28] qJake commented on #98
I would like to explore this since I think having to hard-code the width and height of everything kind of sucks right now to be honest. ☹️

However, the tile drag+drop feature is very much tied to an explicit width/height (as noted when you change the device W/H and the tile editor breaks and gets all weird), so this may be challenging.

[2021-04-17 08:59] arfrater commented on #13
upvote for me as well please

[2021-04-17 09:01] arfrater commented on #38
I have added a cover (Garage Door) and pressing button nothing works
My Error is
`fail: Microsoft.AspNetCore.SignalR.Internal.DefaultHubDispatcher[8]
      Failed to invoke hub method 'OnTileClicked'.
HADotNet.Core.Domain.HttpResponseException: Exception of type 'HADotNet.Core.Domain.HttpResponseException' was thrown.
   at HADotNet.Core.BaseClient.Post[T](String path, Object body, Boolean isRawBo

[2021-04-17 19:30] qJake commented on #13
As long as the address is accessible from the tablet, and there are no iframe restrictions from the other apps (e.g. [CSP frame-ancestors](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/frame-ancestors)) then I think this should be fairly easy to add!

[2021-06-05 05:28] juan11perez commented on #123
Still broken
Thank you

[2021-06-13 00:55] #123 closed, assigned to qJake

[2021-06-23 00:47] #114 closed

[2021-10-23 16:12] SAOPP opened #128 "Add icon to binary sensors"
## Describe the new functionality

Hi!

Will be great if motion binary sensors have an icon.

## What will it look like in the Admin area?

Just fields for adding `mdi` icons.

## What will it look like on the dashboard?

The display is exactly the same as in the `light` domain, for example, with the ability to select the color when the sensor is `on` and `off`.

[2022-10-26 16:51] siege9929 opened #134 "Allow wildcard includes in config.json to parse additional page json files"
## Describe the new functionality

Allow includes in the config.json file so that we can create one json file per page. It's often easier for me to manually create pages via copying sections and editing a few variables, especially when I have an interface that includes common elements on every page like a row of nav buttons. If the config file allowed wildcard includes, I could copy a page json fi

[2022-10-26 19:58] qJake commented on #134
Would you be able to provide a sample (JSON markup or similar) of what this would look like?

[2022-11-24 23:58] siege9929 commented on #134
Sure! Something like this.
In the main config.json, add a section to "pages" listing files or directories of files to include:
[code]

Each of the files directly included or included in the directories would contain one or more sections that would normally be inside the "pages" section, so a file would look like this:
[code]
Spanning multiple pages is less important to me, but I suppose you could